<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="name">Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" placeholder="Enter name of item" formControlName="name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="descr">Description:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="descr" placeholder="Enter description of item" formControlName="description">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="price">Price:</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="price" placeholder="Enter price of item" formControlName="price">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="img">Image:</label>
                    <div class="col-sm-10">
                        <input type="file" (change)="onChange($event)">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <app-user [user]="user"></app-user>
            <button (click)="logout()" class="logout-btn btn btn-default">Logout</button>
        </div>
    </div>
</div>
<div class="container">
    <h3>My Items</h3>
    <div class="row">
        <div class="col-md-4" *ngFor="let item of myItems">
            <div class="card" style="width: 18rem">
                <img class="card-img-top" src={{image_url+item.image}} alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <p class="card-text">{{item.description}}</p>
                    <p class="card-text">{{item.price}}$</p>
                    <button (click)="viewHistoryOfItem(item)" class="btn btn-primary">View History</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
        <h3>Other Items</h3>
        <div class="row">
            <div class="col-md-4" *ngFor="let item of items">
                <div class="card" style="width: 18rem" >
                    <img class="card-img-top" src={{image_url+item.image}} alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{item.name}}</h5>
                        <p class="card-text">{{item.description}}</p>
                        <p class="card-text item-price">{{item.price}}$</p>
                        <button (click)="buyItem(item)" class="btn btn-success buy-btn">Buy</button>
                        <button (click)="viewHistoryOfItem(item)" class="btn btn-primary">View History</button>
                    </div>
                </div>
            </div>
        </div>
    </div>